<!doctype html>
<html lang="en">

<head>
	{% load static %}
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>SR Portfolio</title>
	<!-- Bootstrap CSS -->
	
	<link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block links %}
    {% endblock links %}
</head>

<body>

    {% include "header.html" %}

    {% block content %}
    {% endblock content %}
    
    {% include "footer.html" %}
    {% include "scripts.html" %}
    
    {% block extra_scripts %}
    {% endblock extra_scripts %}


</body>

</html>